<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtummatrix.mapper.WSY_OrderBeanMapper">
    <select id="selectBySellerId" resultType="com.qtummatrix.bean.WSY_OrderBean">
        select o.orderId orderId,o.createTime createTime,o.amount amount,SUM(og.buyNum) buyNum,og.price,o.orderStep orderStep,m.address
        FROM bm_inorderlist o left JOIN bm_inordergoodslist og on o.orderId=og.orderId
        LEFT JOIN bm_member m on o.sellerId = m.id
        WHERE o.orderStep=1 GROUP BY o.orderId,og.id;
<!--            <if test="orderStep != null and orderStep != ''">-->
<!--                <if test="orderStep==1">-->
<!--                    and o.orderStep =1-->
<!--                </if>-->
<!--                <if test="orderStep==2">-->
<!--                    and o.orderStep in (2,3,4)-->
<!--                </if>-->
<!--                <if test="orderStep==3">-->
<!--                    and o.orderStep in (5,6,7,8,9,10,11,12)-->
<!--                </if>-->
<!--                <if test="orderStep==4">-->
<!--                    and o.orderStep =13-->
<!--                </if>-->
<!--            </if>-->
<!--        </where>-->
<!--        GROUP BY o.orderId-->
    </select>

    <update id="updateOrderStepByOrderId" parameterType="java.lang.String">
        update bm_inorderlist set orderStep = #{orderStep} where orderId = #{orderId}
    </update>

</mapper>