<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtummatrix.mapper.WSY_OrderBeanMapper">
<!--  查询所有待配货订单  -->
    <select id="selectBySellerId" resultType="com.qtummatrix.bean.WSY_OrderBean">
        select o.orderId orderId,o.createTime createTime,o.amount amount,SUM(og.buyNum) buyNum,og.price,o.orderStep orderStep,m.address
	FROM bm_inorderlist o left JOIN bm_inordergoodslist og on o.orderId=og.orderId
	LEFT JOIN bm_member m on o.sellerId = m.id
	WHERE o.orderStep=2 GROUP BY o.orderId,og.goodsId,og.price;
    </select>

<!--  开始配货页面，根据ID查询待配货订单  -->
    <select id="selectOrderDetails" resultType="com.qtummatrix.bean.WSY_OrderBean">
        SELECT o.orderId,og.goodsName,og.sname,og.goodsImg,(SELECT sum(og.buyNum) buyNum FROM bm_inordergoodslist og LEFT JOIN bm_inorderlist o on o.orderId=og.orderId
WHERE o.orderStep=2 and o.orderId=#{orderId} ) buyNum FROM bm_inordergoodslist og LEFT JOIN bm_inorderlist o on o.orderId=og.orderId
WHERE o.orderStep=2 and o.orderId=#{orderId} GROUP BY o.orderId,og.goodsId,og.goodsName,og.sname,og.goodsImg,og.buyNum;
    </select>

<!--  根据ID对订单进行配货  -->
    <update id="updatePickingByOrderId" parameterType="java.lang.String">
        update bm_inorderlist set orderStep = 3 where orderId = #{orderId}
    </update>

    <!--  查询所有待验货订单  -->
    <select id="selectExamineByOrderId" resultType="com.qtummatrix.bean.WSY_OrderBean">
        select o.orderId orderId,o.createTime createTime,o.amount amount,SUM(og.buyNum) buyNum,og.price,o.orderStep orderStep,m.address
	FROM bm_inorderlist o left JOIN bm_inordergoodslist og on o.orderId=og.orderId
	LEFT JOIN bm_member m on o.sellerId = m.id
	WHERE o.orderStep=3 GROUP BY o.orderId,og.goodsId,og.price;
    </select>

    <!--  出库验货页面，根据ID查询待验货订单  -->
    <select id="selectExamineOrderDetails" resultType="com.qtummatrix.bean.WSY_OrderBean">
        SELECT o.orderId,og.goodsName,og.sname,og.goodsImg,(SELECT sum(og.buyNum) buyNum FROM bm_inordergoodslist og LEFT JOIN bm_inorderlist o on o.orderId=og.orderId
WHERE o.orderStep=3 and o.orderId=#{orderId}) buyNum FROM bm_inordergoodslist og LEFT JOIN bm_inorderlist o on o.orderId=og.orderId
WHERE o.orderStep=3 and o.orderId=#{orderId} GROUP BY o.orderId,og.goodsId,og.goodsName,og.sname,og.goodsImg,og.buyNum;
    </select>

    <!--  根据ID对订单进行验货  -->
    <update id="updateExamineByOrderId" parameterType="java.lang.String">
        update bm_inorderlist set orderStep = 4 where orderId = #{orderId}
    </update>

</mapper>